.card-img-top {
  height: 220px;        /* سایز ثابت */
  object-fit: cover;   /* مهم‌ترین خط */
}

.card {
  height: 100%;
}
.card-text {
  font-size: 0.9rem;
  line-height: 1.4;
}
.card-title {
  min-height: 48px;
}
.product-list{
      background: linear-gradient(
  135deg,
  #07080A 0%,
  #0F1216 50%,
  #1A1D21 100%
);
}
