body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: white;
  background: linear-gradient(
  135deg,
  #07080A 0%,
  #0F1216 50%,
  #1A1D21 100%
);
}









@media (max-width: 767px) {

  .image-wrapper {
    position: relative;
    
  }

  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2;
    padding: 1rem;
    background: rgba(66, 65, 65, 0.5);
 
  }
}

.product-img {
  width: 100% !important;
  max-height: 450px !important;     
  object-fit: cover !important;
  background-color: #f5f5f5; 
}

.nav-link {
  color: white !important;      
  text-decoration: none !important; 
}

.nav-link.active {
  color: #ff6600;      
}
